

/* body/nav bar */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  padding-top: 20px;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
}

nav header {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}


nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
}

nav a:hover {
  background-color: #575757;
}


/* main */
main {
  margin-left: 220px;
  padding: 20px;
  background-color: #fff;
  min-height: 100vh;
}


h1 {
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

p, ul {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}


ul {
  list-style-type: disc;
  padding-left: 20px;
}

code {
  color: #4039b9;
}

@media screen and (max-width: 800px) {
  nav {
    position: inherit;
    width: 100%;
  }
  main {
    margin: auto;
  }
}
